.sessionTabbedToolbar {
  display: flex;
  flex-direction: column;
}

.sessionTabbedContainer {
  width: 100%;
  padding: 0.6rem;
  overflow: hidden;
  display: flex;
}
.sessionTabbedContainer_horiz {
  flex-direction: row;
}

/*
 * Holds the active tab to display, plus the inactive tab that we want to stay
 * in the DOM but not be displayed for performance reasons.  (Our tab content
 * may include a blockly editor which does not have cheap setup costs.)
 */
.sessionTabbedContainer_tabs {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.sessionTabbedContainer_tabs > :nth-child(1) {
}
/*
 * The inactive widget wants to exist in the DOM for performance but but doesn't
 * want to be visible.  We leave the active widget in flow but we make the
 * inactive widget absolute so that only the active widget is considered for
 * layout in the available space.
 */
.sessionTabbedContainer_tabs > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: none;
}
